html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-color: transparent;
  box-sizing: border-box;
  word-break: keep-all;
  line-height: 1.4em;
  overflow: hidden;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: #23252c;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.1s;
}

.box {
  position: relative;
  width: 70vw;
  height: 140vw;
  background-image: url(./assets/mcgraw.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  button {
    position: absolute;
    top: 60%;
    left: 52%;
    transform: translateX(-50%);
    background: none;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 5.25vw;
    font-family: 'Mochiy Pop P One', sans-serif;
  }
}
